.bottomBar {
  position: fixed;
  bottom: -100vh;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  background-color: rgba(255,255,255,0.5);
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &-listView {
    bottom: calc(-100vh + 40px);
  }
  &-modal {
    bottom: 0;
  }
  &_navSign {
    position: fixed;
    bottom: 23px;
    cursor: pointer;
    &-modal {
      display: none;
    }
  }
  &_navBtn {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 200px;
    background-color: #1C1C1C;
    background-image: url(https://www.aenrsuvxz.com/paper.png);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  &_navBtnContent {
    position: relative;
    top: 0;
    height: 25px;
    &-modal {
      top: -25px;
    }
  }
  &_navBtnContentText {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_navItems {
    position: absolute;
    bottom: 30px;
    padding: 0;
    margin: 0;
    &-error {
      position: fixed;
      bottom: 30px;
    }
  }
  &_navItem {
    height: 25px;
    width: 200px;
    margin: 0 0 15px;
    background-color: #1C1C1C;
    background-image: url(https://www.aenrsuvxz.com/paper.png);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
