.topBar {
  position: absolute;
  top: 0;
  width: 100vw;
  min-width: 320px;
  height: 30px;
  padding: 0 8vw;
  box-sizing: border-box;
  background-color: #FFF;
  background-image: url(https://www.aenrsuvxz.com/paper.png);
  border-bottom: 1px solid rgba(125,120,117,.3);
  display: flex;
  flex-flow: row;
  align-items: center;
  z-index: 10;
  &-hidden {
    top: -31px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgba(125,120,117,.1);
  }
  &_title {
    height: 20px;
    width: 160px;
    display: flex;
    align-items: center;
  }
  &_category {
    height: 16px;
    width: 140px;
    background-color: #1C1C1C;
    background-image: url(https://www.aenrsuvxz.com/paper.png);
    border-radius: 2px;
    overflow: hidden;
    &Items {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      &-performance {
        top: 0;
      }
      &-architecture {
        top: -16px;
      }
      &-uiux {
        top: -32px;
      }
    }
    &Item {
      width: 140px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
